@model UniversityManagement.Web.ViewModel.TeacherViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Save Teacher</h2>

<form id="createTeacher">
    <div class="row">
        <div class="col-md-8">
            <label>Name</label>
            <input name="Name" />
            <br />
            <label>Address</label>
            <input name="Address" />
            <br />
            <label>Email</label>
            <input name="Email" />
            <br />
            <label>Contact No</label>
            <input name="ContactNo" />
            <br />
            <label>Credit</label>
            <input name="Credit" />

            @*<div class="form-group">
                @Html.LabelFor(model => model.Credit, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Credit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Credit, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                <label>Department</label>
                <select class="form-control" name="DepartmentId">
                    @foreach (var dept in Model.departments)
                    {
                        <option value="@dept.Id">@dept.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Designation</label>
                <select class="form-control" name="DesignationId">
                    @foreach (var designation in Model.designations)
                    {
                        <option value="@designation.Id">@designation.DesignationName</option>
                    }
                </select>
            </div>


            <button id="saveBtn" type="button" class="btn btn-primary">Save</button>
            <button type="reset" class="btn btn-danger">Cancel</button>
        </div>
    </div>
</form>

<script>
    $("#saveBtn").click(function () {
        $.ajax({
                type: "POST",
                url: '@Url.Action("Create", "Teacher")',
                data: $("#createTeacher").serialize()
            })
            .done(function (response) {
                console.log(response);
                window.location.href = '@Url.Action("Index", "Teacher")';
            })
            .fail(function (xmlHttpRequest, textStatus, errorThrown) {
            });
    });
</script>

