@model UniversityManagement.Web.ViewModel.TeacherListingViewModel

@{
    ViewBag.Title = "Index";
}



<h2>View All Teacher</h2>
<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>Address</td>
            <td>Email</td>
            <td>Contact No</td>
            <td>Designation</td>
            <td>Department</td>
            <td>Credit to be taken </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model.Teachers)
        {
            <tr>
                <td>@teacher.Name</td>
                <td>@teacher.Address</td>
                <td>@teacher.Email</td>
                <td>@teacher.ContactNo</td>
                <td>@teacher.Designation.DesignationName</td>
                <td>@teacher.Department.Name</td>
                <td>@teacher.Credit</td>
            </tr>
        }

    </tbody>
</table>
